@page
@model Main.Pages.GroupDetailsModel
@{
}

<div class="h-100 w-100 d-flex flex-row pb-3">
    <div class="h-100 bg-white shadow rounded d-flex flex-column p-3 me-3" style="width: 250px; min-width: 250px;">
        <form method="post" asp-page-handler="RedirectToIndexOwned" class="mb-2">
            <button type="submit" class="w-100 btn d-flex align-items-center justify-content-start p-3 @(Model.IsAdmin ? "btn-primary" : "btn-outline-dark hover-primary")">
                <i class="fas fa-user icon-sm me-2"></i>
                <span>Posiadane grupy</span>
            </button>
        </form>
        <form method="post" asp-page-handler="RedirectToIndexJoined">
            <button type="submit" class="w-100 btn d-flex align-items-center justify-content-start p-3 @(!Model.IsAdmin ? "btn-primary" : "btn-outline-dark hover-primary")">
                <i class="fas fa-user-group icon-sm me-2"></i>
                <span>Dołączone grupy</span>
            </button>
        </form>
    </div>

    <div class="h-100 w-100 flex-group-1 d-flex flex-column p-3 bg-white rounded shadow">
        <div class="d-flex flex-column mb-3">
            <span class="fs-3 fw-bold mb-2">Klasa 1A</span>
            <div class="d-flex flex-row">
                <button id="usersButton" onclick="switchTab(this)"
                        class="btn btn-primary d-flex align-items-center p-3 me-3">
                    <i class="fas fa-user-group icon-sm me-2"></i>
                    <span>Uczestnicy</span>
                </button>
                <button id="quizesButton" onclick="switchTab(this)"
                        class="btn btn-outline-dark hover-primary d-flex align-items-center p-3">
                    <i class="fas fa-music icon-sm me-2"></i>
                    <span>Quizy</span>
                </button>
            </div>
        </div>

        <div id="usersSection" class="h-100 d-flex flex-row overflow-auto" style="margin: -20px; padding: 20px;">
            <div class="w-50 h-100 rounded bg-white shadow border border-1 d-flex flex-column me-3">
                <div class="bg-light rounded-top d-flex flex-row fw-bold fs-5 p-2">
                    <span class="mx-auto">Uczestnicy</span>
                </div>

                <hr class="m-0 border border-1" />

                <div class="flex-grow-1 d-flex flex-column p-2 overflow-auto">
                    <div class="d-flex flex-row fw-bold mb-2">
                        <span class="me-1">Aktywni</span>
                        <span class="me-auto">(@(2))</span> @*TODO: ILOŚĆ UCZESTNIKÓW*@
                    </div>

                    <div class="d-flex flex-column">
                        @for (int i = 0; i < 2; i++)@*TODO: DLA KAŻDEGO UCZESTNIKA*@
                        {
                            <div class="bg-transparent rounded border d-flex flex-row p-2 mb-2">
                                <span class="text-truncate me-2">krzysztof.kowalski@gmail.com</span> @*TODO: MAIL*@
                                <button type="button" class="ms-auto btn-close" aria-label="Close"
                                        data-bs-toggle="modal" data-bs-target="#deleteUserPopup"
                                        data-user-mail="krzysztof.kowalski@gmail.com" data-on-delete="deleteUser(@(i))"></button> @*TODO: MAIL, ID ZAMIAST I*@
                                    </div>
                                }
                    </div>

                    <div class="d-flex flex-row fw-bold mb-2">
                        <span class="me-1">Oczekujący</span>
                        <span class="me-auto">(@(2))</span> @*ILOŚĆ UCZESTNIKÓW, KTÓRZY JESZCZE NIE ZAAKCEPTOWALI ZAPROSZENIA*@
                    </div>

                    <div class="d-flex flex-column">
                        @for (int i = 0; i < 2; i++)@*TODO: DLA KAŻDEGO OCZEKUJĄCEGO*@
                        {
                            <div class="bg-transparent rounded border d-flex flex-row p-2 mb-2">
                                <span class="text-truncate me-2">krzysztof.kowalski@gmail.com</span> @*TODO: MAIL*@
                            </div>
                        }
                    </div>

                </div>

                <hr class="m-0 border border-1" />

                <div class="bg-light rounded-bottom d-flex flex-row fw-bold p-2">
                    <button class="btn btn-primary mx-auto"
                            data-bs-toggle="modal" data-bs-target="#addUsersPopup"
                            data-adding-admins="false" data-callback-name="addUsers">
                        Dodaj uczestników
                    </button>
                </div>
            </div>

            <div class="w-50 h-100 rounded bg-white shadow border border-1 d-flex flex-column me-3">
                <div class="bg-light rounded-top d-flex flex-row fw-bold fs-5 p-2">
                    <span class="mx-auto">Administratorzy</span>
                </div>

                <hr class="m-0 border border-1" />

                <div class="flex-grow-1 d-flex flex-column p-2 overflow-auto">
                    <div class="d-flex flex-row fw-bold mb-2">
                        <span class="me-1">Aktywni</span>
                        <span class="me-auto">(@(2))</span> @*TODO: ILOŚĆ AKTYWNYCH NAUCZYCIELI*@
                    </div>

                    <div class="d-flex flex-column">
                        @for (int i = 0; i < 2; i++)
                        {
                            <div class="bg-transparent rounded border d-flex flex-row p-2 mb-2">
                                @if (i == 0)@*TODO: JEŻELI TWÓRCA GRUPY*@
                                {
                                    <i class="fas fa-crown icon-sm me-1"></i>
                                }

                                <span class="text-truncate me-2">krzysztof.kowalski@gmail.com</span> @*TODO: EMAIL*@

                                @if (i != 0)@*TODO: NIE JEŻELI TWÓRCA GRUPY*@
                                {
                                    <button type="button" class="ms-auto btn-close" aria-label="Close"
                                            data-bs-toggle="modal" data-bs-target="#deleteUserPopup"
                                            data-user-mail="krzysztof.kowalski@gmail.com" data-on-delete="deleteUser(@(i))"></button> @*TODO: MAIL, ID ZAMIAST I*@
                                }
                            </div>
                        }
                    </div>

                    <div class="d-flex flex-row fw-bold mb-2">
                        <span class="me-1">Oczekujący</span>
                        <span class="me-auto">(@(2))</span> @*TODO: ILOŚĆ ADMINÓW, KTÓRZY JESZCZE NIE ZAAKCEPTOWALI ZAPRO*@
                    </div>

                    <div class="d-flex flex-column">
                        @for (int i = 0; i < 2; i++)@*TODO: DLA KAŻDEGO Z OCZEKUJĄCYCH ADMINÓW*@
                        {
                            <div class="bg-transparent rounded-bottom rounded border d-flex flex-row p-2 mb-2">
                                <span class="text-truncate me-2">krzysztof.kowalski@gmail.com</span> @*TODO: EMAIL*@
                            </div>
                        }
                    </div>
                </div>

                <hr class="m-0 border border-1" />

                <div class="bg-transparent d-flex flex-row fw-bold p-2">
                    <button class="btn btn-primary mx-auto"
                            data-bs-toggle="modal" data-bs-target="#addUsersPopup"
                            data-adding-admins="true" data-callback-name="addUsers">
                        Dodaj administratorów
                    </button>
                </div>
            </div>
        </div>

        <div id="quizesSection" class="h-100 d-flex flex-row overflow-auto d-none" style="margin: -20px; padding: 20px;">
            <div class="w-50 h-100 rounded bg-white shadow border border-1 d-flex flex-column me-3">
                <div class="bg-light rounded-top d-flex flex-row fw-bold fs-5 p-2">
                    <span class="mx-auto">Aktywne</span>
                </div>

                <hr class="m-0 border border-1" />

                <div class="flex-grow-1 d-flex flex-column p-2 overflow-auto">
                    @for (int i = 0; i < 3; i++)@*TODO: DLA KAŻDEGO AKTYWNEGO QUIZU W TEJ GRUPIE*@
                    {
                        <div class="border border-1 rounded p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3 @(i > 0 ? "mt-2" : "")">
                            <div class="flex-grow-1 d-flex flex-column">
                                <div class="fw-bold fs-5 mb-3">Kartkówka 2A</div> @*TODO: NAZWA QUIZU*@

                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="far fa-clock icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Pozostało:</span>
                                    <span id="to-solve-time-@(i)">
                                        @*TODO: QUIZ ID ZAMIAST I*@
                                        @*TODO: WYPEŁNIJ TO ZA POMOCĄ JS, TAK ŻEBY AKTUALIZOWAŁO SIĘ CO SEKUNDĘ. KOD MOŻNA PRZEKOPIOWAĆ Z EKRANU CREATED*@
                                    </span>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-music icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Zadania:</span>
                                    <span>@(12)</span> @*TODO: ILOŚĆ ZADAŃ*@
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <i class="fas fa-user icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Twórca:</span>
                                    <span>Janusz Kowlaski</span> @*TODO: TWÓRCA*@
                                </div>
                            </div>

                            @if (!Model.IsAdmin)
                            {
                                <div class="d-flex flex-column h-100">
                                    <a class="btn btn-primary ms-auto mt-auto">Rozwiąż</a> @*TODO: TO NIECH PRZENOSI DO ROZWIĄZYWANIA QUIZU*@
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="w-50 h-100 rounded bg-white shadow border border-1 d-flex flex-column me-3">
                <div class="bg-light rounded-top d-flex flex-row fw-bold fs-5 p-2">
                    <span class="mx-auto">Zaplanowane</span>
                </div>

                <hr class="m-0 border border-1" />

                <div class="flex-grow-1 d-flex flex-column p-2 overflow-auto">
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="border border-1 rounded p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3 @(i > 0 ? "mt-2" : "")">
                            <div class="flex-grow-1 d-flex flex-column">
                                <div class="fw-bold fs-5 mb-3">Kartkówka 2A</div> @*TODO: NAZWA QUIZU*@

                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="far fa-clock icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Dostępne za:</span>
                                    <span id="future-quiz-time-@(i)">
                                        @*TODO: QUIZ ID ZAMIAST I*@
                                        @*TODO: WYPEŁNIJ TO ZA POMOCĄ JS, TAK ŻEBY AKTUALIZOWAŁO SIĘ CO SEKUNDĘ. KOD MOŻNA PRZEKOPIOWAĆ Z EKRANU CREATED*@
                                    </span>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <i class="fas fa-music icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Zadania:</span>
                                    <span>12</span> @*TODO: ILOŚĆ ZADAŃ*@
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <i class="fas fa-user icon-sm me-2"></i>
                                    <span class="fw-bold me-1">Twórca:</span>
                                    <span>Janusz Kowalski</span> @*TODO: TWÓRCA QUIZU*@
                                </div>
                            </div>

                            @if (Model.IsAdmin)
                            {
                                <div class="d-flex flex-column h-100">
                                    <a class="btn btn-primary ms-auto mt-auto">Edytuj</a> @*TODO: TO NIECH PRZENOSI DO EDYTOWANIA QUIZU*@
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<partial name="~/Pages/Shared/DeleteUserPopup.cshtml" />
<partial name="~/Pages/Shared/AddUsersPopup.cshtml" />

<script>

    const usersButton = document.getElementById("usersButton");
    const quizesButton = document.getElementById("quizesButton");
    const usersSection = document.getElementById("usersSection");
    const quizesSection = document.getElementById("quizesSection");

    function switchTab(selectedButton) {
        if (selectedButton == usersButton) {
            usersButton.classList.add("btn-primary");
            usersButton.classList.remove("btn-outline-dark", "hover-primary");
            quizesButton.classList.add("btn-outline-dark", "hover-primary");
            quizesButton.classList.remove("btn-primary");

            quizesSection.classList.add("d-none")
            usersSection.classList.remove("d-none");
        } else {
            quizesButton.classList.add("btn-primary");
            quizesButton.classList.remove("btn-outline-dark", "hover-primary");
            usersButton.classList.add("btn-outline-dark", "hover-primary");
            usersButton.classList.remove("btn-primary");

            usersSection.classList.add("d-none")
            quizesSection.classList.remove("d-none");
        }
    }

    function deleteUser(userId) {
        //TODO: DELETE USER WITH ID, REFRESH PAGE

        console.log("deleting user " + userId);
    }

    function addUsers(userEmails, areAdmins) {
        //TODO: DODAJ TE EMAILE DO UŻYTKOWNIKÓW/ADMINÓW, REFRESH PAGE

        console.log("admins " + areAdmins)
        console.log("users " + userEmails);
    }

</script>