@page
@model Main.Pages.GroupsIndexModel
@{
    var ownedGroups = Model.AppUser.MasterInGroups.Concat(Model.AppUser.TeacherInGroups);

    var joinedGroups = Model.AppUser.StudentInGroups;
}

<div class="h-100 w-100 d-flex flex-row pb-3">
    <div class="h-100 bg-white shadow rounded d-flex flex-column p-3 me-3" style="width: 250px; min-width: 250px;">
        <button id="ownedGroupsButton" onclick="switchTab(this)"
                class="btn btn-outline-dark hover-primary d-flex align-items-center justify-content-start p-3 mb-2">
            <i class="fas fa-user icon-sm me-2"></i>
            <span>Posiadane grupy</span>
        </button>
        <button id="joinedGroupsButton" onclick="switchTab(this)"
                class="btn btn-primary d-flex align-items-center justify-content-start p-3">
            <i class="fas fa-user-group icon-sm me-2"></i>
            <span>Dołączone grupy</span>
        </button>
    </div>

    <div class="h-100 w-100 flex-group-1 d-flex flex-column bg-white shadow rounded p-3 overflow-auto">
        <div class="d-flex flex-row">
            <div class="input-group me-3">
                <span class="input-group-text p-3">
                    <i class="fas fa-search icon-sm"></i>
                </span>
                <input id="searchInput" class="form-control" type="search" placeholder="Search" aria-label="Search" oninput="filterGroups(this.value)">
            </div>

            <button class="ms-auto btn btn-primary fw-bold text-nowrap" data-bs-toggle="modal"
                    data-bs-target="#createGroupPopup" data-callback-name="createGroup">
                Utwórz grupę
            </button>
            <form method="post" asp-page-handler="CreateGroup" id="formForCreateGroup">
                <input type="hidden" asp-for="GroupName" value="" id="groupNameInput"/>
            </form>
        </div>

        <div class="row px-3 pt-3 pb-1 d-none" id="ownedGroupsList">
            @{var i = 0;}
            @foreach(var group in ownedGroups)
            {
                <div class="owned-groups col-6 p-0 m-0 @(i % 2 == 0 ? "pe-3" : "") @(i != 0 ? "pt-3" : "")"
                     data-name="@(group.Name)">
                    <div class="border border-1 rounded p-3 flex-shrink-0 d-flex flex-row overflow-hidden h-100">
                        <div class="flex-grow-1 d-flex flex-column">
                            <div class="fw-bold fs-5 mb-3">@(group.Name)</div>

                            <div class="d-flex flex-row mb-2">
                                <i class="fas fa-user icon-sm me-2"></i>
                                <span class="fw-bold me-1">Twórca:</span>
                                <span>@(group.MasterUser.FullName)</span>
                            </div>

                            <div class="d-flex flex-row">
                                <i class="fas fa-user-group icon-sm me-2"></i>
                                <span class="fw-bold me-1">Uczniowie:</span>
                                <span>@(group.Students.Count())</span>
                            </div>
                        </div>

                        <div class="d-flex flex-column h-100">
                            <div class="d-flex flex-row">
                                @if (group.MasterId == Model.AppUser.Id)
                                {
                                <a class="btn-icon ms-auto" data-bs-toggle="modal" data-bs-target="#deleteGroupPopup"
                                   data-group-name="@(group.Name)" data-on-delete="deleteGroup(@(group.Id))">
                                    <i class="far fa-trash-can icon-sm"></i>
                                </a>
                                }
                            </div>
                            <form method="post" asp-page-handler="DeleteGroup" id="formForDeleteGroup@(group.Id)">
                                <input type="hidden" asp-for="GroupId" value="@(group.Id)"/>
                            </form>

                            <a asp-page="Details" asp-route-id="@group.Id" class="ms-auto mt-auto btn btn-primary">Szczegóły</a>
                        </div>
                    </div>
                </div>
                i += 1;
            }
        </div>

        <div class="row px-3 pt-3 pb-1" id="joinedGroupsList">
            @{i = 0;}
            @foreach(var group in joinedGroups)
            {
                <div class="joined-groups col-6 p-0 m-0 @(i % 2 == 0 ? "pe-3" : "") @(i > 1 ? "pt-3" : "")"
                     data-name="@(group.Name)">
                    <div class="border border-1 rounded p-3 flex-shrink-0 d-flex flex-row overflow-hidden h-100">
                        <div class="flex-grow-1 d-flex flex-column">
                            <div class="fw-bold fs-5 mb-3">@(group.Name)</div>

                            <div class="d-flex flex-row mb-2">
                                <i class="fas fa-user icon-sm me-2"></i>
                                <span class="fw-bold me-1">Twórca:</span>
                                <span>@(group.MasterUser.FullName)</span>
                            </div>

                            <div class="d-flex flex-row">
                                <i class="fas fa-user-group icon-sm me-2"></i>
                                <span class="fw-bold me-1">Uczniowie:</span>
                                <span>@(group.Students.Count())</span>
                            </div>
                        </div>

                        <div class="d-flex flex-column h-100">
                            <a asp-page="Details" asp-route-id="@group.Id" class="ms-auto mt-auto btn btn-primary">Szczegóły</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<partial name="~/Pages/Shared/DeleteGroupPopup.cshtml" />
<partial name="~/Pages/Shared/CreateGroupPopup.cshtml" />

<script>

    const ownedGroupsButton = document.getElementById("ownedGroupsButton");
    const joinedGroupsButton = document.getElementById("joinedGroupsButton");
    const ownedGroupsList = document.getElementById("ownedGroupsList");
    const joinedGroupsList = document.getElementById("joinedGroupsList");

    const searchInput = document.getElementById("searchInput");
    const ownedGroups = document.getElementsByClassName("owned-groups");
    const joinedGroups = document.getElementsByClassName("joined-groups");

    var ownedGroupsShown = @((TempData["OwnedShown"] ?? false).ToString()!.ToLower());

    function switchTab(selectedButton) {
        if (selectedButton == ownedGroupsButton) {
            ownedGroupsButton.classList.add("btn-primary");
            ownedGroupsButton.classList.remove("btn-outline-dark", "hover-primary");
            joinedGroupsButton.classList.add("btn-outline-dark", "hover-primary");
            joinedGroupsButton.classList.remove("btn-primary");

            joinedGroupsList.classList.add("d-none")
            ownedGroupsList.classList.remove("d-none");

            ownedGroupsShown = true;
        } else {
            joinedGroupsButton.classList.add("btn-primary");
            joinedGroupsButton.classList.remove("btn-outline-dark", "hover-primary");
            ownedGroupsButton.classList.add("btn-outline-dark", "hover-primary");
            ownedGroupsButton.classList.remove("btn-primary");

            ownedGroupsList.classList.add("d-none")
            joinedGroupsList.classList.remove("d-none");

            ownedGroupsShown = false;
        }

        searchInput.value = "";
        filterGroups("");
    }

    function filterGroups(phrase) {
        const groups = ownedGroupsShown ? ownedGroups : joinedGroups;

        for (const group of groups) {
            const nameAttribute = group.getAttribute("data-name");

            if (nameAttribute && nameAttribute.toLowerCase().includes(phrase.toLowerCase())) {
                group.classList.remove("d-none");
            } else {
                group.classList.add("d-none");
            }
        }
    }

    switchTab(ownedGroupsShown ? ownedGroupsButton : joinedGroupsButton);


    function deleteGroup(groupId) {
        
        document.getElementById(`formForDeleteGroup${groupId}`).submit();

        console.log("deleting group " + groupId);
    }

    function createGroup(groupName) {

        document.getElementById("groupNameInput").value = groupName;
        document.getElementById(`formForCreateGroup`).submit();

        console.log("creating group " + groupName);
    }

</script>