@page
@model Main.Pages.AssignedModel
@using JsonConvert = Newtonsoft.Json.JsonConvert;
@using Main.Enumerations
@{
    var finished = Model.Joined.Where(q => q.Excersises.First().ExcersiseSolutions.Any(es => es.UserId == Model.AppUser.Id)).ToList();
    var unfinished = Model.Joined.Except(finished).ToList();

    var toSolve = unfinished.Where(q => q.State == Enumerations.QuizState.Open).ToList();
    var futureQuizes = unfinished.Except(toSolve).ToList();
}

<head>
    <link rel="stylesheet" href="~/css/quiz-lists-style.css" />
</head>

<div class="h-100 w-100 d-flex flex-row overflow-auto">
    <div class="w-50 flex-grow-1 overflow-auto d-flex flex-column pe-3">
        @if (unfinished.Count > 0)
        {
            @if (toSolve.Count > 0)
            {
                <div class="fw-bold fs-4 mb-3">Do Rozwiązania</div>
            }
            @foreach (var quiz in toSolve)
            {
                <div class="quiz shadow p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="fw-bold fs-5 mb-3">@quiz.Name</div>

                        <div class="d-flex flex-row align-items-center mb-2">
                            <i class="far fa-clock icon-sm me-2"></i>
                            <span class="fw-bold me-1">Pozostało:</span>
                            <span id="to-solve-time-@(quiz.Id)">
                                @*FILLED VIA JS*@
                            </span>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-2">
                            <i class="fas fa-music icon-sm me-2"></i>
                            <span class="fw-bold me-1">Zadania:</span>
                            <span>@quiz.Excersises.Count</span>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fas fa-user icon-sm me-2"></i>
                            <span class="fw-bold me-1">Twórca:</span>
                            <span>@quiz.Creator.FullName</span>
                        </div>
                    </div>

                    <div class="d-flex flex-column h-100">
                        <a asp-page="Solve" asp-route-code="@quiz.Code" class="btn btn-primary ms-auto mt-auto">Rozwiąż</a>
                    </div>
                </div>
            }

            @if (futureQuizes.Count > 0)
            {
                <div class="fw-bold fs-4 mb-3">Zaplanowane</div>
            }
            @foreach (var quiz in futureQuizes)
            {
                <div class="quiz shadow p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="fw-bold fs-5 mb-3">@quiz.Name</div>

                        <div class="d-flex flex-row align-items-center mb-2">
                            <i class="far fa-clock icon-sm me-2"></i>
                            <span class="fw-bold me-1">Dostępne za:</span>
                            <span id="future-quiz-time-@(quiz.Id)">
                                @*FILLED VIA JS*@
                            </span>
                        </div>
                        <div class="d-flex flex-row align-items-center mb-2">
                            <i class="fas fa-music icon-sm me-2"></i>
                            <span class="fw-bold me-1">Zadania:</span>
                            <span>@quiz.Excersises.Count</span>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fas fa-user icon-sm me-2"></i>
                            <span class="fw-bold me-1">Twórca:</span>
                            <span>@quiz.Creator.FullName</span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fw-bold fs-4 mb-3">Zaplanowane</div>
            <p>Nie masz aktualnie żadnych zaplanowanych, ani trwających quizów. Po dołączeniu będziesz mógł go rozwiązać tutaj!</p>
        }
    </div>

    <div class="w-50 flex-grow-1 overflow-auto d-flex flex-column ms-3 pe-3"> 
        @if (finished.Count > 0)
        {
            <div class="fw-bold fs-4 mb-3">Zakończone</div>
            @foreach (var quiz in finished)
            {
                var quizResult = quiz.QuizResults.FirstOrDefault(qr => qr.UserId == Model.AppUser.Id);

                <div class="quiz shadow p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="fw-bold fs-5">@quiz.Name</div>

                        @if (quizResult != null)
                        {
                            <div class="d-flex flex-row align-items-center mt-3 mb-2">
                                <i class="far fa-clock icon-sm me-2"></i>
                                <span class="fw-bold me-1">Oceniono:</span>
                                <span>@quizResult.GradeDate</span>
                            </div>
                        }
                        else
                        {
                            <span style="margin-top: -4px;">Oczekuje na ocenę...</span>
                            <div style="height: 28px;"></div>
                        }

                        <div class="d-flex flex-row align-items-center mb-2">
                            <i class="fas fa-music icon-sm me-2"></i>
                            <span class="fw-bold me-1">Zadania:</span>
                            <span>@quiz.Excersises.Count</span>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fas fa-user icon-sm me-2"></i>
                            <span class="fw-bold me-1">Twórca:</span>
                            <span>@quiz.Creator.FullName</span>
                        </div>
                    </div>

                    <div class="d-flex flex-column h-100">
                        @if (quizResult != null)
                        {
                            <div class="d-flex flex-row">
                                <div class="fw-bold fs-5 ms-auto">
                                    @(((Grade)(quizResult.Grade!)).AsString())
                                </div>
                            </div>
                        }

                        <a asp-page="Browse" asp-route-id="@quiz.Id" class="btn btn-primary ms-auto mt-auto">Przeglądaj</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fw-bold fs-4 mb-3">Zakończone</div>
            <p>Nie masz jeszcze żadnych zakończonych quizów... Dołącz do quizu i rozwiąż go, a wyniki pojawią się tutaj!</p>
        }
    </div>
</div>


<script>
    function updateTimers() {
        @foreach (var quiz in toSolve)
        {
            <text>
            var closeDate = "@quiz.CloseDate.ToString("yyyy-MM-ddTHH:mm:ss")";
            document.getElementById("to-solve-time-@quiz.Id").innerText = formatTimeDifference(closeDate);
            </text>
        }
        @foreach (var quiz in futureQuizes)
        {
            <text>
            var openDate = "@quiz.CloseDate.ToString("yyyy-MM-ddTHH:mm:ss")";
            document.getElementById("future-quiz-time-@quiz.Id").innerText = formatTimeDifference(openDate);
            </text>
        }
    }

    function formatTimeDifference(endTime) {
        let now = new Date();
        let timeDifference = new Date(endTime) - now;

        if (timeDifference <= 0) {
            return "Closed";
        }

        let days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        timeDifference -= days * (1000 * 60 * 60 * 24);

        let hours = Math.floor(timeDifference / (1000 * 60 * 60));
        timeDifference -= hours * (1000 * 60 * 60);

        let minutes = Math.floor(timeDifference / (1000 * 60));
        timeDifference -= minutes * (1000 * 60);

        let seconds = Math.floor(timeDifference / 1000);

        let result = "";
        let nonZeroFound = false;

        if (days > 0) {
            result += days + "d ";
            nonZeroFound = true;
        }

        if (hours > 0 || nonZeroFound) {
            result += hours + "h ";
            nonZeroFound = true;
        }

        if (minutes > 0 || nonZeroFound) {
            result += minutes + "m ";
            nonZeroFound = true;
        }

        result += seconds + "s";

        return result.trim();
    }

    updateTimers();
    setInterval(updateTimers, 1000);
</script>

