@page
@model Main.Pages.AssignedModel
@using JsonConvert = Newtonsoft.Json.JsonConvert;
@using Main.Enumerations
@{
    ViewData["Title"] = "Harmony.io - Przypisane quizy";
}

<head>
    <link rel="stylesheet" href="~/css/quiz-lists-style.css" />
</head>

<div class="h-100 w-100 d-flex flex-column flex-md-row mb-3">
    <div class="w-100 w-md-50 flex-grow-1 overflow-md-auto d-flex flex-column bg-white rounded shadow p-3 me-3 mb-3">
        @if (Model.NotSolvedOpen.Count != 0 || Model.NotSolvedPlanned.Count != 0 || Model.QuizRequests.Count != 0)
        {
            @if (Model.QuizRequests.Count > 0)
            {
                <div>
                    <div class="fw-bold fs-4 mb-3 d-flex flex-row justify-content-between">
                        Zaproszenia (@Model.QuizRequests.Count)
                        <a href="#quizRequestsSection" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="quizRequestsSection"
                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center border-0">
                            <i class="fas fa-chevron-up icon-md" id="quizRequestsSectionCollapseBtnIcon"></i>
                        </a>
                    </div>

                    <div class="collapse show" id="quizRequestsSection">
                        @foreach (var request in Model.QuizRequests)
                        {
                            <div class="border border-1 rounded p-3 flex-shrink-0 d-flex flex-row overflow-hidden mb-3">
                                <div class="flex-grow-1 d-flex flex-column flex-basis-0 overflow-hidden">
                                    <div class="fw-bold fs-5 mb-3 text-truncate">@request.Quiz.Name</div>

                                    <div class="d-flex flex-row mb-2">
                                        <i class="fas fa-user icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Twórca:</span>
                                            @request.Quiz.Creator.FullName
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <!-- Accept Request Button -->
                                    <form method='get' action="/join">
                                        <input type="hidden" id="code" name="code" value="@request.Quiz.Code" />
                                        <button class="btn-icon" type="submit">
                                            <i class="fa fa-check icon-sm text-success"></i>
                                        </button>
                                    </form>

                                    <!-- Decline Request Button -->
                                    <form method="post" class="mt-auto">
                                        <input type="hidden" asp-for="RequestId" value="@request.Id" />
                                        <button class="btn-icon mt-2" type="submit" asp-page-handler="DeclineRequest">
                                            <i class="fas fa-xmark icon-md text-danger"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (Model.NotSolvedOpen.Count > 0)
            {
                <div>
                    <div class="fw-bold fs-4 mb-3 d-flex flex-row justify-content-between">
                        Do rozwiązania (@Model.NotSolvedOpen.Count)
                        <a href="#toSolveQuizzesSection" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="toSolveQuizzesSection"
                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center border-0">
                            <i class="fas fa-chevron-up icon-md" id="toSolveQuizzesSectionCollapseBtnIcon"></i>
                        </a>
                    </div>

                    <div class="collapse show" id="toSolveQuizzesSection">
                        @foreach (var quiz in Model.NotSolvedOpen)
                        {
                            <div class="quiz border rounded shadow-sm mb-3 p-0 flex-shrink-0 d-flex flex-row p-3">
                                <div class="flex-grow-1 d-flex flex-column flex-basis-0 overflow-hidden">
                                    <div class="fw-bold fs-5 mb-3 text-truncate">@quiz.Name</div>

                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="far fa-clock icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Pozostało:</span>
                                            <span id="to-solve-time-@(quiz.Id)">
                                                @*FILLED VIA JS*@
                                            </span>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-music icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Zadania:</span>
                                            @quiz.Exercises.Count
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-user icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Twórca:</span>
                                            @quiz.Creator.FullName
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex flex-column" id="solveButtonElement@(quiz.Id)">
                                    <a asp-page="Solve" asp-route-code="@quiz.Code"
                                        class="btn btn-primary ms-auto mt-auto">Rozwiąż</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (Model.NotSolvedPlanned.Count > 0)
            {
                <div>
                    <div class="fw-bold fs-4 mb-3 d-flex flex-row justify-content-between">
                        Zaplanowane (@Model.NotSolvedPlanned.Count)
                        <a href="#plannedQuizzesSection" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="plannedQuizzesSection"
                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center border-0">
                            <i class="fas fa-chevron-up icon-md" id="plannedQuizzesSectionCollapseBtnIcon"></i>
                        </a>
                    </div>

                    <div class="collapse show" id="plannedQuizzesSection">
                        @foreach (var quiz in Model.NotSolvedPlanned)
                        {
                            <div class="quiz border rounded shadow-sm mb-3 p-0 flex-shrink-0 d-flex flex-row p-3"
                                id="plannedElement@(quiz.Id)">
                                <div class="flex-grow-1 d-flex flex-column flex-basis-0 overflow-hidden">
                                    <div class="fw-bold fs-5 mb-3 text-truncate">@quiz.Name</div>

                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="far fa-clock icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Dostępny za:</span>
                                            <span id="future-quiz-time-@(quiz.Id)">
                                                @*FILLED VIA JS*@
                                            </span>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-music icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Zadania:</span>
                                            @quiz.Exercises.Count
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-user icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Twórca:</span>
                                            @quiz.Creator.FullName
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column" id="solveButtonElement@(quiz.Id)">
                                    @* needed for js *@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fw-bold fs-4 mb-3">Do rozwiązania</div>
            <div class="w-100 h-100 d-flex flex-column border border rounded align-items-center justify-content-center p-3">
                <i class="fas fa-calendar-days mb-4 icon-giant"></i>
                <div class="text-center fw-semibold" style="max-width: 400px;">
                    Nie masz aktualnie żadnych zaplanowanych, ani trwających quizów. Po dołączeniu będziesz mógł je
                    rozwiązać tutaj!
                </div>
            </div>
        }
    </div>

    <div class="w-100 w-md-50 flex-grow-1 overflow-md-auto d-flex flex-column bg-white rounded shadow p-3 mb-3">
        @if (Model.Graded.Count != 0 || Model.WaitingForGrade.Count != 0)
        {
            @if (Model.WaitingForGrade.Count != 0)
            {
                <div>
                    <div class="fw-bold fs-4 mb-3 d-flex flex-row justify-content-between">
                        Oczekujące na ocenę (@Model.WaitingForGrade.Count)
                        <a href="#solvedOpenQuizzesSection" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="solvedOpenQuizzesSection"
                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center border-0">
                            <i class="fas fa-chevron-up icon-md" id="solvedOpenQuizzesSectionCollapseBtnIcon"></i>
                        </a>
                    </div>

                    <div class="collapse show" id="solvedOpenQuizzesSection">
                        @foreach (var quiz in Model.WaitingForGrade)
                        {
                            <div class="quiz border rounded shadow-sm mb-3 p-0 flex-shrink-0 d-flex flex-row p-3">
                                <div class="flex-grow-1 d-flex flex-column flex-basis-0 overflow-hidden">
                                    <div class="fw-bold fs-5 text-truncate mb-3">@quiz.Name</div>


                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="far fa-calendar icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Zamknięcie:</span>
                                            @quiz.CloseDate.ToString("dd.MM.yyyy, HH:mm")
                                        </span>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-music icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Zadania:</span>
                                            @quiz.Exercises.Count
                                        </span>
                                    </div>

                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-user icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Twórca:</span>
                                            @quiz.Creator.FullName
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex flex-column">
                                    @if (quiz.State == QuizState.Open)
                                    {
                                        <a asp-page="Solve" asp-route-code="@quiz.Code" class="btn btn-primary ms-auto mt-auto"
                                            id="solveButton@(quiz.Id)">Edytuj</a>
                                    }
                                    else
                                    {
                                        <a asp-page="Browse" asp-route-id="@quiz.Id"
                                            class="btn btn-primary ms-auto mt-auto">Przeglądaj</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }


            @if (Model.Graded.Count != 0)
            {
                <div>
                    <div class="fw-bold fs-4 mb-3 d-flex flex-row justify-content-between">
                        Ocenione (@Model.Graded.Count)
                        <a href="#closedQuizzesSection" data-bs-toggle="collapse" role="button" aria-expanded="false"
                            aria-controls="closedQuizzesSection"
                            class="text-decoration-none text-dark d-flex align-items-center justify-content-center border-0">
                            <i class="fas fa-chevron-up icon-md" id="closedQuizzesSectionCollapseBtnIcon"></i>
                        </a>
                    </div>

                    <div class="collapse show" id="closedQuizzesSection">
                        @foreach (var quiz in Model.Graded)
                        {
                            Model.GradedQuizes.TryGetValue(quiz.Id, out var quizResult);
                            <div class="quiz border rounded shadow-sm mb-3 p-0 flex-shrink-0 d-flex flex-row p-3">
                                <div class="flex-grow-1 d-flex flex-column flex-basis-0 overflow-hidden">
                                    <div class="fw-bold fs-5 text-truncate mb-3">@quiz.Name</div>

                                    @if (quizResult != null)
                                    {
                                        <div class="d-flex flex-row align-items-center mb-2">
                                            <i class="far fa-calendar icon-sm me-2"></i>
                                            <span class="text-truncate">
                                                <span class="fw-bold">Oceniono:</span>
                                                @quizResult.GradeDate.ToString("dd.MM.yyyy, HH:mm")
                                            </span>
                                        </div>
                                    }

                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <i class="fas fa-music icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Zadania:</span>
                                            @quiz.Exercises.Count
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <i class="fas fa-user icon-sm me-2"></i>
                                        <span class="text-truncate">
                                            <span class="fw-bold">Twórca:</span>
                                            @quiz.Creator.FullName
                                        </span>
                                    </div>
                                </div>

                                <div class="d-flex flex-column">
                                    @if (quizResult != null)
                                    {
                                        <div class="fw-bold fs-5 ms-auto">
                                            @(((Grade)(quizResult.Grade!)).AsString())
                                        </div>
                                    }

                                    <a asp-page="Browse" asp-route-id="@quiz.Id"
                                        class="btn btn-primary ms-auto mt-auto">Przeglądaj</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fw-bold fs-4 mb-3">Rozwiązane</div>
            <div class="w-100 h-100 d-flex flex-column border border rounded align-items-center justify-content-center p-3">
                <i class="fas fa-pencil mb-4 icon-giant"></i>
                <div class="text-center fw-semibold" style="max-width: 400px;">
                    Nie masz jeszcze żadnych rozwiązanych quizów. Dołącz do quizu i rozwiąż go, a wyniki pojawią się tutaj!
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const quizRequestsElement = document.getElementById('quizRequestsSection');
        const quizRequestsBtnIcon = document.getElementById('quizRequestsSectionCollapseBtnIcon');
        const toSolveQuizzesElement = document.getElementById('toSolveQuizzesSection');
        const toSolveQuizzesBtnIcon = document.getElementById('toSolveQuizzesSectionCollapseBtnIcon');
        const plannedQuizzesElement = document.getElementById('plannedQuizzesSection');
        const plannedQuizzesBtnIcon = document.getElementById('plannedQuizzesSectionCollapseBtnIcon');
        const solvedOpenQuizzesElement = document.getElementById('solvedOpenQuizzesSection');
        const solvedOpenQuizzesBtnIcon = document.getElementById('solvedOpenQuizzesSectionCollapseBtnIcon');
        const closedQuizzesElement = document.getElementById('closedQuizzesSection');
        const closedQuizzesBtnIcon = document.getElementById('closedQuizzesSectionCollapseBtnIcon');

        if (quizRequestsElement != null) {
            quizRequestsElement.addEventListener('show.bs.collapse', () => {
                quizRequestsBtnIcon.classList.add('fa-chevron-up');
                quizRequestsBtnIcon.classList.remove('fa-chevron-down');
            });
            quizRequestsElement.addEventListener('hide.bs.collapse', () => {
                quizRequestsBtnIcon.classList.remove('fa-chevron-up');
                quizRequestsBtnIcon.classList.add('fa-chevron-down');
            });
        }
        if (toSolveQuizzesElement != null) {
            toSolveQuizzesElement.addEventListener('show.bs.collapse', () => {
                toSolveQuizzesBtnIcon.classList.add('fa-chevron-up');
                toSolveQuizzesBtnIcon.classList.remove('fa-chevron-down');
            });
            toSolveQuizzesElement.addEventListener('hide.bs.collapse', () => {
                toSolveQuizzesBtnIcon.classList.remove('fa-chevron-up');
                toSolveQuizzesBtnIcon.classList.add('fa-chevron-down');
            });
        }
        if (plannedQuizzesElement != null) {
            plannedQuizzesElement.addEventListener('show.bs.collapse', () => {
                plannedQuizzesBtnIcon.classList.add('fa-chevron-up');
                plannedQuizzesBtnIcon.classList.remove('fa-chevron-down');
            });
            plannedQuizzesElement.addEventListener('hide.bs.collapse', () => {
                plannedQuizzesBtnIcon.classList.remove('fa-chevron-up');
                plannedQuizzesBtnIcon.classList.add('fa-chevron-down');
            });
        }
        if (solvedOpenQuizzesElement != null) {
            solvedOpenQuizzesElement.addEventListener('show.bs.collapse', () => {
                solvedOpenQuizzesBtnIcon.classList.add('fa-chevron-up');
                solvedOpenQuizzesBtnIcon.classList.remove('fa-chevron-down');
            });
            solvedOpenQuizzesElement.addEventListener('hide.bs.collapse', () => {
                solvedOpenQuizzesBtnIcon.classList.remove('fa-chevron-up');
                solvedOpenQuizzesBtnIcon.classList.add('fa-chevron-down');
            });
        }
        if (closedQuizzesElement != null) {
            closedQuizzesElement.addEventListener('show.bs.collapse', () => {
                closedQuizzesBtnIcon.classList.add('fa-chevron-up');
                closedQuizzesBtnIcon.classList.remove('fa-chevron-down');
            });
            closedQuizzesElement.addEventListener('hide.bs.collapse', () => {
                closedQuizzesBtnIcon.classList.remove('fa-chevron-up');
                closedQuizzesBtnIcon.classList.add('fa-chevron-down');
            });
        }
    });
</script>

<script>
    function updateTimers() {
        const quizzes = [
    @foreach (var quiz in Model.NotSolvedOpen)
    {
        <text>{id: "@quiz.Id", type: "to-solve", date: "@quiz.CloseDate.ToString("yyyy-MM-ddTHH:mm:ss")" },</text>
    }
    @foreach (var quiz in Model.NotSolvedPlanned)
    {
        <text>{id: "@quiz.Id", type: "future-quiz", date: "@quiz.CloseDate.ToString("yyyy-MM-ddTHH:mm:ss")", code: "@quiz.Code", openDate: "@quiz.OpenDate.ToString("yyyy-MM-ddTHH:mm:ss")"},</text>
    }
        ];

        quizzes.forEach(quiz => {
            const elementId = quiz.type === "to-solve"
                ? `to-solve-time-${quiz.id}`
                : `future-quiz-time-${quiz.id}`;
            const date = quiz.type === "to-solve" ? quiz.date : quiz.openDate;

            // update buttons
            const timeDifference = formatTimeDifference(quiz);
            if (timeDifference === "Zamknięty") {
                // button in not solved open or not solved future
                const solveButtonElement = document.getElementById("solveButtonElement" + quiz.id);
                if (solveButtonElement) {
                    solveButtonElement.innerHTML = `<a href="/Browse?id=${quiz.id}" class="btn btn-primary ms-auto mt-auto">Przeglądaj</a>`;
                }
                // button in solved open section
                const solveButton = document.getElementById("solveButton" + quiz.id);
                if (solveButton) {
                    solveButton.remove();
                }
            } else if (timeDifference === "Otwarty") {
                // button in not solved future
                const solveButtonElement = document.getElementById("solveButtonElement" + quiz.id);
                if (solveButtonElement) {
                    solveButtonElement.innerHTML = `<a href="/Solve?code=${quiz.code}" class="btn btn-primary ms-auto mt-auto">Rozwiąż</a>`;
                }
            }
            document.getElementById(elementId).innerText = timeDifference;
        });
    }

    function formatTimeDifference(quiz) {
        const now = new Date();
        const quizType = quiz.type;
        const targetTime = quizType === "to-solve" ? new Date(quiz.date) : new Date(quiz.openDate);

        if (quizType === "to-solve" && now > targetTime) {
            return "Zamknięty";
        } else if (quizType === "future-quiz") {
            if (now > targetTime) {
                if (now > new Date(quiz.date)) {
                    return "Zamknięty";
                }
                return "Otwarty";
            }
        }

        let timeRemaining = targetTime - now;

        const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        let displayText = "";

        if (days > 0) {
            displayText = `${days}d ${hours}h`;
        } else if (hours > 0) {
            displayText = `${hours}h ${minutes}m`;
        } else {
            displayText = `${minutes}m ${seconds}s`;
        }

        return displayText.trim();
    }

    updateTimers();
    setInterval(updateTimers, 1000);
</script>
