@page
@model Main.Pages.BrowseModel
@using Main.Enumerations;
@using JsonConvert = Newtonsoft.Json.JsonConvert;
@{
    ViewData["Title"] = "Harmony.io - Przeglądaj";

    var totalPoints = Model.ExerciseResults.Sum(er => er.Points);
    var totalMax = Model.ExerciseResults.Sum(er => er.MaxPoints);
    var percent = Math.Round((totalPoints / (float)totalMax) * 100);
}

<head>
    <link rel="stylesheet" href="~/css/browse-style.css" />
</head>

<div class="h-100 w-100 d-flex flex-row pb-3">
    <div class="bg-white rounded d-flex flex-column bor shadow py-3 me-3 sidebar">
        <div class="fw-bold fs-4 overflow-hidden flex-shrink-0 px-3" style="text-overflow: ellipsis;">
            @Model.Quiz.Name
        </div>

        <hr />

        <div class="d-flex flex-row px-3">
            <div class="d-flex flex-column me-4">
                <span class="fw-semibold">Ocena</span>
                <div class="d-flex flex-row align-items-center mt-1">
                    <div class="border border-secondary rounded text-secondary fw-bold px-2 py-1">
                        @Model.GradeString
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <span class="fw-semibold">Wynik</span>
                <div class="d-flex flex-row align-items-center mt-1">
                    <div class="border border-secondary text-nowrap text-secondary fw-bold rounded px-2 py-1 me-2">
                        @totalPoints / @totalMax
                    </div>
                    <div class="border border-secondary text-secondary fw-bold rounded px-2 py-1">
                        @(percent)%
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-0" />

        <div id="exercises-buttons" class="w-100 mt-1 mb-auto p-3"
            style="display: grid; grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); gap: 5px;">
            @* FILLED VIA JS *@
        </div>

        <hr class="mt-0" />
        <a asp-page="Assigned" class="btn btn-danger btn-std-width mx-auto">Wyjdź</a>
    </div>

    <div class="flex-grow-1 w-100 d-flex flex-column overflow-auto">
        <div class="w-100 bg-white rounded shadow d-flex flex-row align-items-center mb-3 p-3">
            <div class="fs-4 fw-bold me-1">Zadanie</div>
            <div id="exercise-number" class="fs-4 fw-bold me-auto">

            </div>

            <span class="fw-bold me-2 ms-3">Punkty</span>
            <div id="points-text"
                class="border py-1 px-2 border-secondary rounded fw-bold h-100 d-flex align-items-center">
                5 / 15
            </div>

            <a href="#" id="commentButton" class="ms-2 btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#commentPopup">
                Komentarz
            </a>
            <div href="#" id="noCommentElement" class="ms-2 btn btn-outline-secondary non-interactive">
                Brak komentarza
            </div>
        </div>

        <div class="bg-white rounded shadow flex-grow-1 p-3 d-flex flex-column overflow-auto" id="staff-section-div">
            <div id="exercise-question-area">
                <p id="exercise-question" class="m-0 fw-semibold">
                    @*SET VIA JS*@
                </p>
            </div>

            <div id="music-staff-div" class="flex-grow-1 d-flex flex-row bg-white rounded mt-3">
                <div id="p5_loading">Ładowanie rozwiązania</div>
                @*SET VIA JS*@
            </div>

            @if (Model.Quiz.ShowAlgorithmOpinion)
            {
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="showAlgorithmSolutionSwitch" onchange="switchBetweenSolutions(this)">
                    <label class="form-check-label" for="showAlgorithmSolutionSwitch">Pokaż rozwiązanie algorytmu</label>
                </div>

                <div id="opinion">
                    @*SET VIA JS*@
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="commentPopup" tabindex="-1" role="dialog" aria-labelledby="deletePopupCenterTitle"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold fs-4" id="deletePopupLongTitle">Komentarz</h5>
                <button type="button" class="ms-auto btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto" style="max-height: 250px; min-height: 150px;">
                <div id="comment-text">

                </div>
            </div>
            <div class="modal-footer justify-content-center align-items-center">
                <button type="button" class="btn btn-secondary btn-sm-width focus-ring"
                    data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


<script>
    const fontUrl = '@Url.Content("~/fonts/Inconsolata.otf")'
    const staffSectionDiv = document.getElementById("staff-section-div");
    const staffSectionWidth = staffSectionDiv.offsetWidth - 60;
    let canvasWidth = staffSectionWidth;
    let canvasHeight = 800;

    const symbolPaths = {
        curlyBrace: '@Url.Content("~/images/staff-symbols/curly-brace.png")',
        bassKey: '@Url.Content("~/images/staff-symbols/bass-key.png")',
        violinKey: '@Url.Content("~/images/staff-symbols/violin-key.png")',
        bemol: '@Url.Content("~/images/staff-symbols/bemol.png")',
        doubleBemol: '@Url.Content("~/images/staff-symbols/double-bemol.png")',
        sharp: '@Url.Content("~/images/staff-symbols/sharp.png")',
        doubleSharp: '@Url.Content("~/images/staff-symbols/double-sharp.png")',
        natural: '@Url.Content("~/images/staff-symbols/natural.png")',
        fullNote: '@Url.Content("~/images/staff-symbols/full-note.png")',
        noteHeadClosed: '@Url.Content("~/images/staff-symbols/note-head-closed.png")',
        noteHeadOpened: '@Url.Content("~/images/staff-symbols/note-head-opened.png")',
        noteFlag: '@Url.Content("~/images/staff-symbols/note-flag.png")',
        mouse: '@Url.Content("~/images/staff-symbols/mouse.png")',
        noteReverse: '@Url.Content("~/images/staff-symbols/note-reverse.png")',
        thrashCan: '@Url.Content("~/images/staff-symbols/thrash-can.png")',
        thrashCanCrossed: '@Url.Content("~/images/staff-symbols/thrash-can-crossed.png")',
    };

    const questionsRaw = @Html.Raw(JsonConvert.SerializeObject(Model.Questions));
    const questions = questionsRaw.map(q => JSON.parse(q));

    const answers = @Html.Raw(JsonConvert.SerializeObject(Model.Answers));

    let currentIndex = 0;
    function getCurrentSolution() {
        return answers[currentIndex];
    }

</script>

<script src="~/lib/p5/p5.min.js"></script>
<script src="~/js/staff-scripts/constants.js"></script>
<script src="~/js/staff-scripts/symbols.js"></script>
<script src="~/js/staff-scripts/bar.js"></script>
<script src="~/js/staff-scripts/vertical.js"></script>
<script src="~/js/staff-scripts/twoNotes.js"></script>
<script src="~/js/staff-scripts/functionSymbol.js"></script>
<script src="~/js/staff-scripts/note.js"></script>
<script src="~/js/staff-scripts/keySignature.js"></script>
<script src="~/js/staff-scripts/metre.js"></script>
<script src="~/js/staff-scripts/accidental.js"></script>
<script src="~/js/staff-scripts/staff.js"></script>
<script src="~/js/staff-scripts/sketchGrading.js"></script>

<script>
    const results = @Json.Serialize(Model.ExerciseResults);
    const algorithmSolutions = @Html.Raw(JsonConvert.SerializeObject(Model.AlgorithmSolutions));

    function switchBetweenSolutions(checkbox) {
        if(checkbox.checked) {
            grandStaff.loadFromJson(questions[currentIndex], algorithmSolutions[currentIndex]);
        } else {
            grandStaff.loadFromJson(questions[currentIndex], answers[currentIndex]);
        }
    }

    function loadQuestion(index, loadToGrandStaff = true) {
        const result = results[index];

        if (index >= 0 && index < questions.length) {
            document.getElementById("exercise-number").innerText = index + 1;
            document.getElementById("exercise-question").innerText = questions[index].question;

            if (questions[index].question == '')
                document.getElementById('exercise-question-area').classList.add('d-none');
            else
                document.getElementById('exercise-question-area').classList.remove('d-none');

            if (loadToGrandStaff)
                grandStaff.loadFromJson(questions[index], answers[index]);

            const toggle = document.getElementById("showAlgorithmSolutionSwitch");
            if (toggle) {
                toggle.checked = false;
            }

            document.getElementById("points-text").innerText = result.points + " / " + result.maxPoints;

            const isComment = result.comment != '';
            document.getElementById("commentButton").style.display = isComment ? 
                "inline-block" : 
                "none";

            document.getElementById("noCommentElement").style.display = isComment ? 
                "none" :
                "flex";

            document.getElementById("comment-text").innerText = result.comment;

            const opinionDiv = document.getElementById("opinion");
            const algorithmDiv = document.getElementById("algorithm-solution");
            
            if (opinionDiv) {
                const opinion = result.opinion;

                if (opinion !== "") {
                    opinionDiv.innerHTML = `
                        <details>
                            <summary>Opinia algorytmu</summary>
                            ${opinion}
                        </details>`;
                }
                else {
                    opinionDiv.innerHTML = `
                        <details>
                            <summary>Opinia algorytmu</summary>
                        </details>`;
                }                    

                @* algorithmDiv.replaceChildren();

                if (algorithmSolutions !== "") {
                    // TODO: Tutaj ustawić rozwiązanie algorytmu do pięciolinii
                    // Kubaaa, ratuuuuj

                    const inner = document.createElement('span');
                    inner.innerText = "Tu się powinno pojawić proponowane rozwiązanie.";
                    inner.className = "text-danger";

                    algorithmDiv.appendChild(inner);
                }
                else {
                    const inner = document.createElement('span');
                    inner.innerText = "Nie udało się załadować rozwiązania.";
                    inner.className = "text-danger";

                    algorithmDiv.appendChild(inner);
                }                     *@
            }

            generateButtons(index);
        }
    }

    function generateButtons(index) {
        var questionButtonsContainer = document.getElementById("exercises-buttons");
        questionButtonsContainer.innerHTML = '';

        for (var i = 0; i < questions.length; i++) {
            var button = document.createElement("button");
            button.className = "btn " + (i === index ? "btn-secondary btn-current" : "btn-outline-secondary btn-hidable") + " btn-tiny-width p-1";
            button.innerText = i + 1;

            button.onclick = (function (i) {
                return function () {
                    currentIndex = i;
                    loadQuestion(currentIndex);
                };
            })(i);

            questionButtonsContainer.appendChild(button);
        }
    }

    loadQuestion(currentIndex, false);

</script>