@page
@model Main.Pages.GroupsBackModel
@using Main.Enumerations;

<head>
    <link rel="stylesheet" href="~/css/quiz-lists-style.css" />
</head>

<div class="h-100 w-100 d-flex flex-row overflow-auto">
    <div class="w-50 flex-grow-1 overflow-auto d-flex flex-column pe-3">
        @if (Model.TeacherInGroups.Count + Model.StudentInGroups.Count > 0)
        {
            @if (Model.TeacherInGroups.Count > 0)
            {
                <div class="fw-bold fs-4 mb-3">Nauczyciel</div>
            }
            @foreach (var group in Model.TeacherInGroups)
            {
                <div class="quiz p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="fw-bold fs-5 mb-3">@group.Name</div>

                        <form method="post" class="ms-auto mt-auto">
                            <input type="hidden" asp-for="GroupId" value="@group.Id" />
                            <input type="hidden" asp-for="AsTeacher" value="@true" />
                            <button type="submit" asp-page-handler="QuitGroup" class="btn btn-danger">Opuść</button>
                        </form>
                    </div>

                    <div class="d-flex flex-column h-100">
                        <a asp-page="GroupDetails" asp-route-id="@group.Id" class="btn btn-outline-primary ms-auto mt-auto">Zobacz</a>
                    </div>
                </div>
            }

            @if (Model.StudentInGroups.Count > 0)
            {
                <div class="fw-bold fs-4 mb-3">Student</div>
            }
            @foreach (var group in Model.StudentInGroups)
            {
                <div class="quiz p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                    <div class="flex-grow-1 d-flex flex-column">
                        <div class="fw-bold fs-5 mb-3">@group.Name</div>

                        <form method="post" class="ms-auto mt-auto">
                            <input type="hidden" asp-for="GroupId" value="@group.Id" />                            
                            <input type="hidden" asp-for="AsTeacher" value="@false" />
                            <button type="submit" asp-page-handler="QuitGroup" class="btn btn-danger">Opuść</button>
                        </form>
                    </div>

                    <div class="d-flex flex-column h-100">
                        <a asp-page="GroupDetails" asp-route-id="@group.Id" class="btn btn-outline-primary ms-auto mt-auto">Zobacz</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="fw-bold fs-4 mb-3">Grupy</div>
            <p>Nie jesteś członkiem żadnej grupy. Utwórz grupę, albo dołącz do jednej, a pojawi się tutaj!</p>
        }
        <div class="no-style" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="quiz quiz-add d-flex justify-content-center align-items-center">
                <span class="plus me-1">+</span>
                <span>Utwórz nową grupę</span>
            </div>
        </div>
    </div>    

    <div class="vr"></div>

    <div class="w-50 flex-grow-1 overflow-auto d-flex flex-column ps-3">
        <div class="fw-bold fs-4 mb-3">Zaproszenia</div>
        @foreach (var request in Model.Requests)
        {
            <div class="quiz p-0 flex-shrink-0 d-flex flex-row overflow-hidden p-3">
                <div class="flex-grow-1 d-flex flex-column">
                    <div class="fw-bold fs-5 mb-3">@request.Group.Name</div>

                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="far fa-clock icon-sm me-2"></i>
                        <span class="fw-bold me-1">Jako:</span>
                        <span>@(request.ForTeacher ? "Nauczyciel" : "Uczeń" )</span>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="far fa-clock icon-sm me-2"></i>
                        <span class="fw-bold me-1">Wygasa:</span>
                        <span>@request.ExpirationDate</span>
                    </div>
                </div>

                <div class="d-flex flex-column h-100">
                    <div class="d-flex flex-row">
                        <a asp-page="GroupDetails" asp-route-id="@request.Id" class="btn-icon me-3 ms-auto">
                            <i class="fas fa-pencil icon-sm"></i>
                        </a>

                        <form method="post">
                            <input type="hidden" asp-for="RequestId" value="@request.Id" />
                            <button class="btn-icon" type="submit" asp-page-handler="RemoveRequest">
                                <i class="far fa-trash-can icon-sm"></i>
                            </button>
                        </form>
                    </div>

                    <form method="post" class="ms-auto mt-auto">
                        <input type="hidden" asp-for="RequestId" value="@request.Id" />
                        <button type="submit" asp-page-handler="AcceptRequest" class="btn btn-outline-primary">Dołącz</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form method="post" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nazwij grupę</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="flex-grow-1 d-flex overflow-auto">
                    <div class="flex-grow-1 d-flex flex-column overflow-auto">
                        <div class="mb-3">
                            <input asp-for="GroupName" class="form-control" placeholder="Nazwa quizu">
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" asp-page-handler="CreateGroup" class="btn btn-primary btn-std-width ms-auto">Utwórz grupę</button>
      </div>
    </form>
  </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}