@page
@model Main.Pages.SolveModel
@using Main.Models;

<head>
    <link rel="stylesheet" href="~/css/solve-style.css" />
</head>

<form id="solve-form" method="post" class="h-100 w-100">
    <div class="h-100 w-100 d-flex flex-column">
        <div class="w-100 bg-white rounded shadow p-3 d-flex justify-content-between align-items-center mb-3">
            <div class="fw-bold fs-4">
                @Model.Quiz.Name
            </div>
            <div class="d-flex align-items-center">
                <i class="far fa-clock icon-lg me-2"></i>
                <span id="timer" class="fw-bold">10h 13min</span>
            </div>
        </div>

        <div class="flex-grow-1 w-100 d-flex flex-column">
            <div class="d-flex flex-row align-items-start question-area">
                <div class="question-square bg-secondary shadow rounded d-flex justify-content-center align-items-center me-3">
                    <div id="excersise-number" class="fs-1 text-white fw-bold">
                        @*SET VIA JS*@
                    </div>
                </div>

                <div class="flex-grow-1">
                    <p id="excersise-question" class="m-0">
                        @*SET VIA JS*@
                    </p>
                </div>
            </div>

            @* TODO remove this input *@
            @* <input type="text" id="answer-input" class="form-control task-input"> *@

            <div class="flex-grow-1 d-flex flex-row mt-3">
                <div id="music-staff-div"
                    class="bg-white rounded shadow p-3 flex-grow-1 d-flex justify-content-center align-items-center overflow-auto">

                    <input type="hidden" asp-for="QuizId" value="@Model.Quiz.Id" />
                    @for (int i = 0; i < Model.Quiz.Excersises.Count; i++)
                    {
                        <input type="hidden" asp-for="@Model.Answers[@i]" value="@Model.Answers[@i]" />
                    }
                </div>
            </div>
        </div>

        <div class="bottom-bar d-flex align-items-center">
            <a asp-page="Assigned" class="btn btn-danger btn-std-width me-auto">Powrót</a>
            <button id="btn-prev" type="button" onclick="prevQuestion()"
                class="btn btn-secondary btn-std-width mx-3">Poprzednie</button>

            <div id="excersises-buttons" class="d-flex align-items-center">
                @*EXCERSISES ARE FILLED WITH JS SCRIPT*@
            </div>
            <div id="div-last-ex">
                <img src="~/images/three_dots.png" alt="Three dots" class="ms-2 three-dots-img">
                <button id="btn-last-ex" type="button" onclick="lastQuestion()"
                    class="btn btn-outline-secondary btn-tiny-width p-1 ms-2"></button>
            </div>

            <button id="btn-next" type="button" onclick="nextQuestion()"
                class="btn btn-secondary btn-std-width ms-3">Następne</button>
            <button id="btn-finish" onclick="submitFormClicked()"
                class="btn btn-primary btn-std-width ms-3">Zakończ</button>
        </div>
    </div>
</form>

<script>
    // needed to allow overflow from canvas div, but now navbar is hiding
    // TODO try fix this
    //var mainContainer = document.getElementById('layout-main-container');
    //if (mainContainer) {
    //    mainContainer.classList.remove('overflow-auto');
    //    mainContainer.style.overflow = 'visible';
    //}

    const fontUrl = '@Url.Content("~/fonts/Inconsolata.otf")'

    const symbolPaths = {
        curlyBrace: '@Url.Content("~/images/staff-symbols/curly-brace.png")',
        bassKey: '@Url.Content("~/images/staff-symbols/bass-key.png")',
        violinKey: '@Url.Content("~/images/staff-symbols/violin-key.png")',
        bemol: '@Url.Content("~/images/staff-symbols/bemol.png")',
        doubleBemol: '@Url.Content("~/images/staff-symbols/double-bemol.png")',
        sharp: '@Url.Content("~/images/staff-symbols/sharp.png")',
        doubleSharp: '@Url.Content("~/images/staff-symbols/double-sharp.png")',
        natural: '@Url.Content("~/images/staff-symbols/natural.png")',
        fullNote: '@Url.Content("~/images/staff-symbols/full-note.png")',
        noteHeadClosed: '@Url.Content("~/images/staff-symbols/note-head-closed.png")',
        noteHeadOpened: '@Url.Content("~/images/staff-symbols/note-head-opened.png")',
        noteFlag: '@Url.Content("~/images/staff-symbols/note-flag.png")',
        mouse: '@Url.Content("~/images/staff-symbols/mouse.png")',
        noteReverse: '@Url.Content("~/images/staff-symbols/note-reverse.png")',
        thrashCan: '@Url.Content("~/images/staff-symbols/thrash-can.png")',
        thrashCanCrossed: '@Url.Content("~/images/staff-symbols/thrash-can-crossed.png")',
    };
</script>

<script src="~/lib/p5/p5.min.js"></script>
<script src="~/js/staff-scripts/constants.js"></script>
<script src="~/js/staff-scripts/symbols.js"></script>
<script src="~/js/staff-scripts/bar.js"></script>
<script src="~/js/staff-scripts/vertical.js"></script>
<script src="~/js/staff-scripts/twoNotes.js"></script>
<script src="~/js/staff-scripts/functionSymbol.js"></script>
<script src="~/js/staff-scripts/note.js"></script>
<script src="~/js/staff-scripts/keySignature.js"></script>
<script src="~/js/staff-scripts/metre.js"></script>
<script src="~/js/staff-scripts/accidental.js"></script>
<script src="~/js/staff-scripts/staff.js"></script>
<script src="~/js/staff-scripts/menu.js"></script>
<script src="~/js/staff-scripts/sketchSolving.js"></script>

<script>
    var excersises = @Json.Serialize(Model.Quiz.Excersises);
    var currentIndex = 0;

    function changeAnswer(value) {
        let hiddenInput = document.querySelector(`input[name="Answers[${currentIndex}]"]`);
        hiddenInput.value = value;
    }

    function loadQuestion(index, loadToGrandStaff = true) {
        if (index >= 0 && index < excersises.length) {
            document.getElementById("excersise-number").innerText = index + 1;
            document.getElementById("excersise-question").innerText = excersises[index].question;

            document.getElementById("btn-next").style.display = index === excersises.length - 1 ? 'none' : 'inline-block';
            document.getElementById("btn-finish").style.display = index === excersises.length - 1 ? 'inline-block' : 'none';

            document.getElementById("answer-input").value = document.querySelector(`input[name="Answers[${currentIndex}]"]`).value;
            if (loadToGrandStaff) {
                grandStaff.loadFromJson("", document.querySelector(`input[name="Answers[${currentIndex}]"]`).value);
            }

            generateButtons(index);
        }
    }

    function safeStaffAnswer() {
        let hiddenInput = document.querySelector(`input[name="Answers[${currentIndex}]"]`);
        const staffJson = grandStaff.toJson();
        hiddenInput.value = staffJson;
    }


    const maxVisibleButtons = 9;
    const targetVisibleOneSide = Math.floor(maxVisibleButtons / 2)
    function generateButtons(index) {
        var questionButtonsContainer = document.getElementById("excersises-buttons");
        questionButtonsContainer.innerHTML = '';

        var start = Math.max(index - targetVisibleOneSide, 0);
        var end = Math.min(index + targetVisibleOneSide, excersises.length - 1);

        var missingStart = start - (index - targetVisibleOneSide);
        var missingEnd = (index + targetVisibleOneSide) - end;

        if (missingStart > 0 && missingEnd == 0) {
            end = Math.min(end + missingStart, excersises.length - 1);
        }
        else if (missingEnd > 0 && missingStart == 0) {
            start = Math.max(start - missingEnd, 0);
        }

        if (end == excersises.length - 2) {
            end++;
        }

        for (var i = start; i <= end; i++) {
            var button = document.createElement("button");
            button.className = "btn " + (i === index ? "btn-secondary btn-current" : "btn-outline-secondary btn-hidable") + " btn-tiny-width p-1";
            button.innerText = i + 1;

            button.onclick = (function (i) {
                return function () {
                    safeStaffAnswer();
                    currentIndex = i;
                    loadQuestion(currentIndex);
                };
            })(i);

            questionButtonsContainer.appendChild(button);

            if (i !== start) {
                button.classList.add("ms-2");
            }
        }

        document.getElementById("btn-last-ex").innerText = excersises.length;
        document.getElementById("div-last-ex").style.display = end < excersises.length - 1 ? 'inline-block' : 'none';
    }


    function prevQuestion() {
        if (currentIndex > 0) {
            safeStaffAnswer();
            currentIndex--;
            loadQuestion(currentIndex);
        }
    }

    function nextQuestion() {
        if (currentIndex < excersises.length - 1) {
            safeStaffAnswer();
            currentIndex++;
            loadQuestion(currentIndex);
        }
    }

    function lastQuestion() {
        if (currentIndex < excersises.length - 1) {
            safeStaffAnswer();
            currentIndex = excersises.length - 1;
            loadQuestion(currentIndex);
        }
    }

    function submitFormClicked() {
        safeStaffAnswer();
        document.getElementById("solve-form").submit();
    }

    loadQuestion(currentIndex, false);

    var closeDate = new Date("@Model.Quiz.CloseDate.ToString("o")");
    function updateTimer() {
        var now = new Date();
        var timeRemaining = closeDate - now;

        if (timeRemaining <= 0) {
            document.getElementById("countdown").innerText = "0m 0s";
            return;
        }

        var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

        var displayText = "";

        if (days > 0) {
            displayText = `${days}d ${hours}h`;
        } else if (hours > 0) {
            displayText = `${hours}h ${minutes}m`;
        } else {
            displayText = `${minutes}m ${seconds}s`;
        }

        document.getElementById("timer").innerText = displayText;
    }

    updateTimer();
    setInterval(updateTimer, 1000);
</script>