<!DOCTYPE html>
<html lang="en">
@{
    var currentPageRoute = ViewContext.RouteData.Values["page"]?.ToString();
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Main</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Main.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lakki+Reddy&family=Playpen+Sans:wght@100..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sriracha&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container p-0">
                <a class="navbar-brand p-0" asp-area="" asp-page="/Index">
                    <img src="~/images/logo.svg" alt="Logo" class="nav-logo mt-1" style="width: 50px; height: 50px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Index">
                                <span class="text-nowrap @(currentPageRoute == "/Index" ? "text-primary" : "")">Strona główna</span>
                                <hr class="mb-0 mt-1 border-primary nav-underline @(currentPageRoute == "/Index" ? "visible" : "invisible")" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Assigned">
                                <span class="text-nowrap @(currentPageRoute == "/Assigned" ? "text-primary" : "")">Przypisane</span>
                                <hr class="mb-0 mt-1 border-primary nav-underline @(currentPageRoute == "/Assigned" ? "visible" : "invisible")" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Created">
                                <span class="text-nowrap @(currentPageRoute == "/Created" ? "text-primary" : "")">Utworzone</span>
                                <hr class="mb-0 mt-1 border-primary nav-underline @(currentPageRoute == "/Created" ? "visible" : "invisible")" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Groups/Index">
                                <span class="text-nowrap @(currentPageRoute == "/Groups/Index" || currentPageRoute == "/Groups/Details" ? "text-primary" : "")">Grupy</span>
                                <hr class="mb-0 mt-1 border-primary nav-underline @(currentPageRoute == "/Groups/Index" || currentPageRoute == "/Groups/Details" ? "visible" : "invisible")" />
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />

                    <!-- NIEZALOGOWANY* -->
                    @*<ul class="navbar-nav">
                        <li class="nav-item ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Log in</a>
                        </li>
                        </ul>*@

                    <!-- ZALOGOWANY - Profil z menu -->
                    @* <ul class="navbar-nav position-relative"> *@
                    @* <li class="nav-item dropdown ml-auto d-flex align-items-center"> *@
                    @* <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"> *@
                    @* <span class="text-dark text-nowrap me-2">Kamil Nowak</span> *@
                    @* <img src="~/images/avatar.png" alt="Avatar" class="rounded-circle" style="width: 40px; height:
                        40px;" /> *@
                    @* </a> *@
                    @* <ul class="dropdown-menu custom-dropdown position-absolute" aria-labelledby="profileDropdown"> *@
                    @* <li> *@
                    @* <a class="dropdown-item" asp-area="" asp-page="/Privacy">Profil</a> *@
                    @* </li> *@
                    @* <li> *@
                    @* <a class="dropdown-item" asp-area="" asp-page="/Privacy">Wyloguj</a> *@
                    @* </li> *@
                    @* </ul> *@
                    @* </li> *@
                    @* </ul> *@
                </div>
            </div>
        </nav>
    </header>

    <div id="layout-main-container" class="container flex-grow-1 overflow-auto">
        <main role="main" class="h-100 w-100">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>