<!DOCTYPE html>
<html lang="en">
@using Enumerations
@{
    var currentPageRoute = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
    NavState currentNavState = NavState.Unselected;

    if (currentPageRoute == "/Index")
        currentNavState = NavState.Home;
    else if (currentPageRoute == "/Assigned")
        currentNavState = NavState.Assigned;
    else if (currentPageRoute == "/Created")
        currentNavState = NavState.Created;
    else if (currentPageRoute == "/Groups/Index" || currentPageRoute == "/Groups/Details")
        currentNavState = NavState.Groups;
    else if (currentPageRoute.StartsWith("/Account"))
        currentNavState = NavState.HiddenTabs;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Main</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Main.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Lakki+Reddy&family=Playpen+Sans:wght@100..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Sriracha&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom shadow-sm fixed-top" id="main-navbar">
            <div class="container">
                <a class="navbar-brand p-0" asp-area="" asp-page="/Index">
                    <img src="~/images/logo.svg" alt="Logo" class="nav-logo mt-1" style="width: 50px; height: 50px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    @if (currentNavState != NavState.HiddenTabs){
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Index">
                                    <span class="text-nowrap @(currentNavState == NavState.Home ? "text-primary" : "")">Strona główna</span>
                                    <hr class="mb-0 mt-1 border-primary nav-underline @(currentNavState == NavState.Home ? "visible" : "invisible")" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Assigned">
                                    <span class="text-nowrap @(currentNavState == NavState.Assigned ? "text-primary" : "")">Przypisane</span>
                                    <hr class="mb-0 mt-1 border-primary nav-underline @(currentNavState == NavState.Assigned ? "visible" : "invisible")" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Created">
                                    <span class="text-nowrap @(currentNavState == NavState.Created ? "text-primary" : "")">Utworzone</span>
                                    <hr class="mb-0 mt-1 border-primary nav-underline @(currentNavState == NavState.Created ? "visible" : "invisible")" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark pb-0" asp-area="" asp-page="/Groups/Index">
                                    <span class="text-nowrap @(currentNavState == NavState.Groups ? "text-primary" : "")">Grupy</span>
                                    <hr class="mb-0 mt-1 border-primary nav-underline @(currentNavState == NavState.Groups ? "visible" : "invisible")" />
                                </a>
                            </li>
                        </ul>
                    } else {
                        <div></div>
                    }

                    <partial name="_LoginPartial" /> 
                </div>
            </div>
        </nav>
    </header>

    <div id="layout-main-container" class="flex-grow-1 overflow-auto container">
        <main role="main" class="h-100 w-100">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

